.page {
    font-family: Inter, Arial, sans-serif;
    min-width: 1100px;
    max-width: 1600px;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    background-image: url(/images/background_header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__image {
    width: 646px;
    height: 568px;
    position: absolute;
    top: 124px;
    right: 165px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
   position: relative;
   left: -50px;
   width: 105px;
   height: 39px;
}

.nav__links {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    list-style-type: none;
    
}

.nav__link {
    color: #000;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__title {
    max-width: 729px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;
    margin: 183px 0 0; 
}

.header__description {
    max-width: 683px;
    font-size: 20px;
    line-height: 30px;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    margin: 28px 0 0;
}

.header__span-accent {
    display:block;
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    color: #2F80ED;
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    
}

.header__paragraph {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383
}

.recipes {
    padding: 100px 80px 215px;
    background-image: url(/images/background_recipes.svg);
    background-position: center;
    background-color:#0a2750;
    background-size: cover;
}

.recipes__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    margin: 100px 80px 24px;
    color:  #ffffff;
}

.recipes__subtitle {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    margin: 0 80px 80px;
    color:  #ffffff;
}

.recipes__videos {
    display: flex;
    gap: 100px;
    justify-content: center;
    column-gap: 40px;
    
}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0 215px;
    color:  #ffffff;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
}

.reservation {
    padding: 100px 0 120px;
    background-color:  #D9E7FF;
    background-image: url(/images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.reservation__title {
    margin: 0 0 80px;
    text-align: center;
    margin-top: 100px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.reservation__form {
    margin: 0 auto;
}

.form {
    max-width: 385px;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.form__label{
    margin-bottom: 32px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
     font-size: 16px;
    line-height: 20px;
}

.form__label_type_checkbox{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin-top: 8px;
    height: 60px;
    text-indent: 4%;
    border-radius: 4px;
}

.input::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
}

.form__button {
   width: 100%; 
   padding: 0;
   margin-bottom: 32px;
   height: 60px;
   font-family: Inter;
   font-style: normal;  
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   border-radius: 4px;
   color: #fff;
   background:#2f80ed;
   transition: opacity 2s;
}

.form__button:hover {
    opacity: 70%;
}

.form__checkbox {
    margin-right: 12px;
    height: 20px;
    width: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
}